<div id="sign-in-container">
  <h2 id="sign-in-header">Welcome Back</h2>
  <h4 id="sign-in-form-header">Sign In</h4>
  <div id="sign-in-form">
    <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
      <%= label_tag "School Email" %><br>
      <%= text_field_tag :email %><br>
      <%= label_tag "Password" %><br>
      <%= password_field_tag :password %><br>
      <%= submit_tag "Sign In" %>
    <% end %>
  </div>
  <div id="oauth-btns-container">
    <button class="oauth-btn"><%= link_to "Log in with Facebook", '/auth/facebook' %></button>
  </div>
  <%= link_to "Not a Member? Sign Up as a New Student", new_student_path, :class => 'sign-up-link' %>
</div>
