<%= link_to "Log Out", root_path %>
<h2>Welcome, <%= @student.name %></h2>
<% if @student.list == nil %>
  <h4>It does not appear that you have any scheduled classes</h4>
<% else %>
  <h4>Your Class List</h4>
  <table>
    <tbody>
      <tr>
        <td><strong>Class Name</strong></td>
      </tr>
      <% student_courses(@student).each do |course| %>
        <tr>
          <td><%= link_to course.name, course_path(course.id) %></td>
          <td><%= link_to "Delete From List" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="link-btns-container">
<% if @student.list == nil %>
  <button class="link-btn"><%= link_to "Create a Class List", new_student_list_path(@student.id) %></button>
<% else %>
  <button class="link-btn"><%= link_to "Edit Class List", edit_student_list_path(@student.list) %></button>
  <button class="link-btn"><%= link_to "Delete Class List", lists_path(@student.list), method: :delete, data: { confirm: 'Are you sure you would like to delete your current class list?' } %></button>
<% end %>
</div>